name: Deploy to Server

on:
  push:
    branches:
      - main

permissions:
  packages: write

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.24.x"

      - name: Install dependencies
        run: go get .

      - name: Test with the Go CLI
        run: go test ./...

      - name: Build Step
        run: CGO_ENABLED=0 GOOS=linux GOARCH=amd64 go build -o mobo-${GITHUB_SHA}

      - name: Deploy binary using SCP
        env:
          USER: ubuntu
          HOST: mobo-ticketing
          DIR: /home/ubuntu/releases
          SSH_KEY: ${{secrets.SSH_KEY }}
        run: |
          mkdir -p ~/.ssh
          echo "$SSH_KEY" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa

          echo "Host *" > ~/.ssh/config
          echo "  StrictHostKeyChecking no" >> ~/.ssh/config
          echo "  UserKnownHostsFile /dev/null" >> ~/.ssh/config

          # Create directory if it doesn't exist
          ssh -i ~/.ssh/id_rsa $USER@$HOST mkdir -p $DIR

          # Copy the binary to the releases
          scp -i ~/.ssh/id_rsa mobo-${GITHUB_SHA} $USER@$HOST:$DIR

          # Run the deploy.sh script on the server
          ssh -i ~/.ssh/id_rsa $USER@$HOST 'bash -s' < ./deploy/deploy.sh $GITHUB_SHA
